@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a Family-Friendly Movie App</h1>
    <p>Here you can find many movies that any family can welcome into their home. You can also add to the list to help out other families
    know what to watch. The movies that are currently on here are all related to The Church of Jesus Christ of Latter Day Saints.</p>
    <img src="~/images/movie.png" alt="movie image"/>
    <p><a href="~/Movies">Click here to view and create movies</a></p>
    <p>This movie app was built off of a web application tutorial with<a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>
</div>
